<style>
.page {
  display: flex;
  flex-direction: column;
  position: relative;
  min-height: 100vh; }

.content {
  margin-top: 1.25rem;
  margin-bottom: 1.25rem;
  flex: 1;
  display: flex;
  flex-direction: column; }
  .content > [class^="container"] {
    flex: 1; }
  @media print {
    .content {
      margin: 0 !important; } }

.content-full {
  margin: 0; }

.page-header {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  min-height: 2.25rem;
  margin: 0 0 1.25rem; }
  .page-header > * {
    flex: 1; }

.page-header-border {
  border-bottom: 1px solid rgba(101, 109, 119, 0.16);
  padding-bottom: 1.25rem; }

.page-pretitle {
  font-size: 0.625rem;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: .04em;
  line-height: 1.6;
  color: #656d77; }

.page-title {
  margin: 0;
  font-size: 1.125rem;
  line-height: 1.5555556;
  font-weight: 500;
  color: inherit;
  display: flex;
  align-items: center; }
  .page-title svg {
    width: 1.5rem;
    height: 1.5rem;
    -webkit-margin-end: .25rem;
            margin-inline-end: .25rem; }

.page-title-lg {
  font-size: 1.5rem;
  line-height: 1.3333333; }

.page-subtitle {
  margin-top: .25rem;
  color: #656d77; }

.footer {
  border-top: 1px solid #e6e8e9;
  background-color: #ffffff;
  padding: 2rem 0;
  color: #656d77;
  margin-bottom: -1.25rem;
  margin-top: 1.25rem; }

.footer-transparent {
  margin-top: 0;
  background-color: transparent;
  border-top: 0; }

.accordion-button:focus:not(:focus-visible) {
  outline: none;
  box-shadow: none; }

.accordion-button:after {
  opacity: 0.7; }

.accordion-button:not(.collapsed) {
  font-weight: 600;
  border-bottom-color: transparent; }
  .accordion-button:not(.collapsed):after {
    opacity: 1; }

.alert {
  --tblr-alert-color: #656d77;
  border: 1px solid rgba(101, 109, 119, 0.16);
  border-left: 0.25rem solid var(--tblr-alert-color);
  box-shadow: rgba(35, 46, 60, 0.04) 0 2px 4px 0; }
  .alert > :last-child {
    margin-bottom: 0; }

.alert-important {
  border-color: transparent;
  background: var(--tblr-alert-color);
  color: #fff;
  font-weight: 500; }
  .alert-important .alert-icon {
    color: inherit; }

.alert-link, .alert-link:hover {
  color: var(--tblr-alert-color); }

.alert-primary {
  --tblr-alert-color: #206bc4; }

.alert-secondary {
  --tblr-alert-color: #656d77; }

.alert-success {
  --tblr-alert-color: #2fb344; }

.alert-info {
  --tblr-alert-color: #4299e1; }

.alert-warning {
  --tblr-alert-color: #f76707; }

.alert-danger {
  --tblr-alert-color: #d63939; }

.alert-light {
  --tblr-alert-color: #f4f6fa; }

.alert-dark {
  --tblr-alert-color: #232e3c; }

.alert-icon {
  color: var(--tblr-alert-color);
  width: 1.5rem !important;
  height: 1.5rem !important;
  margin: -0.125rem 1rem -0.125rem 0; }

.alert-title {
  font-size: 0.875rem;
  line-height: 1.4285714;
  font-weight: 500;
  margin-bottom: .25rem; }

.avatar {
  --tblr-avatar-size: 2.5rem;
  position: relative;
  width: var(--tblr-avatar-size);
  height: var(--tblr-avatar-size);
  font-size: calc(var(--tblr-avatar-size) / 2.8571429);
  font-weight: 500;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  color: #656d77;
  text-align: center;
  text-transform: uppercase;
  vertical-align: bottom;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  background: #f0f2f6 no-repeat center/cover;
  border-radius: 3px; }
  .avatar svg {
    width: 1.5rem;
    height: 1.5rem; }
  .avatar .badge {
    position: absolute;
    right: 0;
    bottom: 0;
    border-radius: 50%;
    box-shadow: 0 0 0 2px #ffffff; }
  a.avatar {
    cursor: pointer; }

.avatar-rounded {
  border-radius: 50%; }

.avatar-xs {
  --tblr-avatar-size: 1.25rem; }

.avatar-xs .badge:empty {
  width: 0.3125rem;
  height: 0.3125rem; }

.avatar-sm {
  --tblr-avatar-size: 2rem; }

.avatar-sm .badge:empty {
  width: 0.5rem;
  height: 0.5rem; }

.avatar-md {
  --tblr-avatar-size: 3.75rem; }

.avatar-md .badge:empty {
  width: 0.9375rem;
  height: 0.9375rem; }

.avatar-lg {
  --tblr-avatar-size: 5rem; }

.avatar-lg .badge:empty {
  width: 1.25rem;
  height: 1.25rem; }

.avatar-xl {
  --tblr-avatar-size: 7rem; }

.avatar-xl .badge:empty {
  width: 1.75rem;
  height: 1.75rem; }

.avatar-list {
  display: inline-flex;
  padding: 0;
  margin: 0 0 -.5rem; }
  .avatar-list .avatar {
    margin-bottom: .5rem; }
    .avatar-list .avatar:not(:last-child) {
      margin-right: .5rem; }
  .avatar-list a.avatar:hover {
    z-index: 1; }

.avatar-list-stacked .avatar {
  margin-right: -.5rem !important;
  box-shadow: 0 0 0 2px #ffffff; }
  .card-footer .avatar-list-stacked .avatar {
    box-shadow: 0 0 0 2px #f4f6fa; }

.avatar-upload {
  width: 4rem;
  height: 4rem;
  border: 1px dashed #e6e8e9;
  background: #ffffff;
  flex-direction: column;
  transition: .3s color, .3s background-color; }
  .avatar-upload svg {
    width: 1.5rem;
    height: 1.5rem;
    stroke-width: 1; }
  .avatar-upload:hover {
    border-color: #206bc4;
    color: #206bc4;
    text-decoration: none; }

.avatar-upload-text {
  font-size: 0.625rem;
  line-height: 1;
  margin-top: .25rem; }

.badge {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  background: #c6cad0;
  overflow: hidden;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  padding: calc(.25rem - 1px) 0.25rem;
  height: 1.25rem;
  border: 1px solid transparent;
  min-width: 1.25rem; }
  a.badge {
    color: #ffffff; }
  .badge:empty {
    display: inline-block;
    width: 0.5rem;
    height: 0.5rem;
    min-width: 0;
    min-height: auto;
    padding: 0;
    border-radius: 50%; }
  .badge .avatar {
    box-sizing: content-box;
    width: 1.25rem;
    height: 1.25rem;
    margin: 0 .5rem 0 -.5rem; }

.badge-outline {
  background-color: transparent;
  border: 1px solid currentColor; }

.badge-pill {
  border-radius: 100px;
  min-width: 1.75em; }

.breadcrumb {
  padding: 0;
  margin: 0;
  background: transparent; }

.breadcrumb-item.active a {
  color: inherit;
  pointer-events: none; }

.breadcrumb-dots .breadcrumb-item + .breadcrumb-item:before {
  content: "·"; }

.breadcrumb-arrows .breadcrumb-item + .breadcrumb-item:before {
  content: "›"; }

.breadcrumb-bullets .breadcrumb-item + .breadcrumb-item:before {
  content: "•"; }

.breadcrumb-alternate a {
  color: #656d77; }
  .breadcrumb-alternate a:hover {
    text-decoration: underline; }

.breadcrumb-alternate .breadcrumb-item.active {
  color: inherit; }

.btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  color: #232e3c;
  background-color: #ffffff;
  border-color: rgba(101, 109, 119, 0.24);
  white-space: nowrap; }
  .btn:hover {
    color: #232e3c;
    border-color: #a7abb1;
    background-color: #f4f6fa; }
  .btn:focus {
    border-color: rgba(var(--tblr-btn-color, 32, 107, 196), 0.5);
    box-shadow: 0 0 0 0.25rem rgba(var(--tblr-btn-color, 32, 107, 196), 0.25); }
  .btn:disabled, .btn.disabled {
    cursor: not-allowed; }
  .btn .icon {
    width: 1.25rem;
    height: 1.25rem;
    margin: 0 .5rem 0;
    -webkit-margin-start: -.25rem;
            margin-inline-start: -.25rem;
    vertical-align: bottom;
    color: #656d77; }
  .btn .avatar {
    width: 1.25rem;
    height: 1.25rem;
    vertical-align: text-top;
    margin: 0 .5rem 0;
    -webkit-margin-start: -.25rem;
            margin-inline-start: -.25rem; }
  .btn .icon-right {
    margin: 0 .5rem 0;
    -webkit-margin-end: -.25rem;
            margin-inline-end: -.25rem; }
  .btn .badge {
    top: auto; }

.btn-primary, .btn-secondary, .btn-success, .btn-info, .btn-warning, .btn-danger, .btn-light, .btn-dark, .btn-blue, .btn-azure, .btn-indigo, .btn-purple, .btn-pink, .btn-red, .btn-orange, .btn-yellow, .btn-lime, .btn-green, .btn-teal, .btn-cyan, .btn-facebook, .btn-twitter, .btn-google, .btn-youtube, .btn-vimeo, .btn-dribbble, .btn-github, .btn-instagram, .btn-pinterest, .btn-vk, .btn-rss, .btn-flickr, .btn-bitbucket, .btn-tabler {
  background-color: rgba(var(--tblr-btn-color), 1);
  color: var(--tblr-btn-color-text); }
  .btn-primary .icon, .btn-secondary .icon, .btn-success .icon, .btn-info .icon, .btn-warning .icon, .btn-danger .icon, .btn-light .icon, .btn-dark .icon, .btn-blue .icon, .btn-azure .icon, .btn-indigo .icon, .btn-purple .icon, .btn-pink .icon, .btn-red .icon, .btn-orange .icon, .btn-yellow .icon, .btn-lime .icon, .btn-green .icon, .btn-teal .icon, .btn-cyan .icon, .btn-facebook .icon, .btn-twitter .icon, .btn-google .icon, .btn-youtube .icon, .btn-vimeo .icon, .btn-dribbble .icon, .btn-github .icon, .btn-instagram .icon, .btn-pinterest .icon, .btn-vk .icon, .btn-rss .icon, .btn-flickr .icon, .btn-bitbucket .icon, .btn-tabler .icon {
    color: inherit; }
  .btn-primary:hover, .btn-secondary:hover, .btn-success:hover, .btn-info:hover, .btn-warning:hover, .btn-danger:hover, .btn-light:hover, .btn-dark:hover, .btn-blue:hover, .btn-azure:hover, .btn-indigo:hover, .btn-purple:hover, .btn-pink:hover, .btn-red:hover, .btn-orange:hover, .btn-yellow:hover, .btn-lime:hover, .btn-green:hover, .btn-teal:hover, .btn-cyan:hover, .btn-facebook:hover, .btn-twitter:hover, .btn-google:hover, .btn-youtube:hover, .btn-vimeo:hover, .btn-dribbble:hover, .btn-github:hover, .btn-instagram:hover, .btn-pinterest:hover, .btn-vk:hover, .btn-rss:hover, .btn-flickr:hover, .btn-bitbucket:hover, .btn-tabler:hover {
    color: var(--tblr-btn-color-text);
    background: rgba(var(--tblr-btn-color-darker), 1);
    border-color: transparent; }

.btn-outline-primary, .btn-outline-secondary, .btn-outline-success, .btn-outline-info, .btn-outline-warning, .btn-outline-danger, .btn-outline-light, .btn-outline-dark, .btn-outline-blue, .btn-outline-azure, .btn-outline-indigo, .btn-outline-purple, .btn-outline-pink, .btn-outline-red, .btn-outline-orange, .btn-outline-yellow, .btn-outline-lime, .btn-outline-green, .btn-outline-teal, .btn-outline-cyan, .btn-outline-facebook, .btn-outline-twitter, .btn-outline-google, .btn-outline-youtube, .btn-outline-vimeo, .btn-outline-dribbble, .btn-outline-github, .btn-outline-instagram, .btn-outline-pinterest, .btn-outline-vk, .btn-outline-rss, .btn-outline-flickr, .btn-outline-bitbucket, .btn-outline-tabler {
  background-color: transparent;
  color: rgba(var(--tblr-btn-color), 1);
  border-color: rgba(101, 109, 119, 0.16); }
  .btn-outline-primary .icon, .btn-outline-secondary .icon, .btn-outline-success .icon, .btn-outline-info .icon, .btn-outline-warning .icon, .btn-outline-danger .icon, .btn-outline-light .icon, .btn-outline-dark .icon, .btn-outline-blue .icon, .btn-outline-azure .icon, .btn-outline-indigo .icon, .btn-outline-purple .icon, .btn-outline-pink .icon, .btn-outline-red .icon, .btn-outline-orange .icon, .btn-outline-yellow .icon, .btn-outline-lime .icon, .btn-outline-green .icon, .btn-outline-teal .icon, .btn-outline-cyan .icon, .btn-outline-facebook .icon, .btn-outline-twitter .icon, .btn-outline-google .icon, .btn-outline-youtube .icon, .btn-outline-vimeo .icon, .btn-outline-dribbble .icon, .btn-outline-github .icon, .btn-outline-instagram .icon, .btn-outline-pinterest .icon, .btn-outline-vk .icon, .btn-outline-rss .icon, .btn-outline-flickr .icon, .btn-outline-bitbucket .icon, .btn-outline-tabler .icon {
    color: inherit; }
  .btn-outline-primary:hover, .btn-outline-secondary:hover, .btn-outline-success:hover, .btn-outline-info:hover, .btn-outline-warning:hover, .btn-outline-danger:hover, .btn-outline-light:hover, .btn-outline-dark:hover, .btn-outline-blue:hover, .btn-outline-azure:hover, .btn-outline-indigo:hover, .btn-outline-purple:hover, .btn-outline-pink:hover, .btn-outline-red:hover, .btn-outline-orange:hover, .btn-outline-yellow:hover, .btn-outline-lime:hover, .btn-outline-green:hover, .btn-outline-teal:hover, .btn-outline-cyan:hover, .btn-outline-facebook:hover, .btn-outline-twitter:hover, .btn-outline-google:hover, .btn-outline-youtube:hover, .btn-outline-vimeo:hover, .btn-outline-dribbble:hover, .btn-outline-github:hover, .btn-outline-instagram:hover, .btn-outline-pinterest:hover, .btn-outline-vk:hover, .btn-outline-rss:hover, .btn-outline-flickr:hover, .btn-outline-bitbucket:hover, .btn-outline-tabler:hover {
    background-color: rgba(var(--tblr-btn-color), 1);
    color: var(--tblr-btn-color-text);
    border-color: rgba(var(--tblr-btn-color), 1); }

.btn-ghost-primary, .btn-ghost-secondary, .btn-ghost-success, .btn-ghost-info, .btn-ghost-warning, .btn-ghost-danger, .btn-ghost-light, .btn-ghost-dark, .btn-ghost-blue, .btn-ghost-azure, .btn-ghost-indigo, .btn-ghost-purple, .btn-ghost-pink, .btn-ghost-red, .btn-ghost-orange, .btn-ghost-yellow, .btn-ghost-lime, .btn-ghost-green, .btn-ghost-teal, .btn-ghost-cyan, .btn-ghost-facebook, .btn-ghost-twitter, .btn-ghost-google, .btn-ghost-youtube, .btn-ghost-vimeo, .btn-ghost-dribbble, .btn-ghost-github, .btn-ghost-instagram, .btn-ghost-pinterest, .btn-ghost-vk, .btn-ghost-rss, .btn-ghost-flickr, .btn-ghost-bitbucket, .btn-ghost-tabler {
  background: transparent;
  color: rgba(var(--tblr-btn-color), 1);
  border-color: transparent; }
  .btn-ghost-primary:hover, .btn-ghost-secondary:hover, .btn-ghost-success:hover, .btn-ghost-info:hover, .btn-ghost-warning:hover, .btn-ghost-danger:hover, .btn-ghost-light:hover, .btn-ghost-dark:hover, .btn-ghost-blue:hover, .btn-ghost-azure:hover, .btn-ghost-indigo:hover, .btn-ghost-purple:hover, .btn-ghost-pink:hover, .btn-ghost-red:hover, .btn-ghost-orange:hover, .btn-ghost-yellow:hover, .btn-ghost-lime:hover, .btn-ghost-green:hover, .btn-ghost-teal:hover, .btn-ghost-cyan:hover, .btn-ghost-facebook:hover, .btn-ghost-twitter:hover, .btn-ghost-google:hover, .btn-ghost-youtube:hover, .btn-ghost-vimeo:hover, .btn-ghost-dribbble:hover, .btn-ghost-github:hover, .btn-ghost-instagram:hover, .btn-ghost-pinterest:hover, .btn-ghost-vk:hover, .btn-ghost-rss:hover, .btn-ghost-flickr:hover, .btn-ghost-bitbucket:hover, .btn-ghost-tabler:hover {
    background-color: rgba(var(--tblr-btn-color), 1);
    color: var(--tblr-btn-color-text);
    border-color: rgba(var(--tblr-btn-color), 1); }

.btn-link {
  color: #206bc4;
  background-color: transparent;
  border-color: transparent; }
  .btn-link .icon {
    color: inherit; }
  .btn-link:hover {
    color: #1a569d;
    border-color: transparent; }

.btn-lg svg.icon, .btn-group-lg > .btn svg.icon {
  stroke-width: 2; }

.btn-pill {
  padding-right: 1.5em;
  padding-left: 1.5em;
  border-radius: 10rem; }
  .btn-pill[class*="btn-icon"] {
    padding: 0.375rem 15px; }

.btn-icon {
  min-width: calc(2.125rem + 2px); }
  .btn-icon.btn-sm, .btn-group-sm > .btn-icon.btn {
    min-width: calc(1.3214286rem + 2px); }
  .btn-icon .icon {
    margin: 0 -1em; }

.btn-square {
  border-radius: 0; }

.btn-list {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: -.5rem !important;
  margin-right: -.5rem; }
  .btn-list > * {
    margin: 0 .5rem .5rem 0 !important; }

.btn-floating {
  position: fixed;
  z-index: 1030;
  bottom: 1.5rem;
  right: 1.5rem;
  border-radius: 50%; }

.btn-loading {
  position: relative;
  color: transparent !important;
  text-shadow: none !important;
  pointer-events: none; }
  .btn-loading:after {
    content: '';
    display: inline-block;
    vertical-align: text-bottom;
    border: 1px solid currentColor;
    border-right-color: transparent;
    border-radius: 50%;
    color: #ffffff;
    position: absolute;
    width: 1rem;
    height: 1rem;
    left: calc(50% - .5rem);
    top: calc(50% - .5rem);
    -webkit-animation: spinner-border .75s linear infinite;
            animation: spinner-border .75s linear infinite; }

.btn-primary,
.btn-outline-primary,
.btn-ghost-primary {
  --tblr-btn-color: 32, 107, 196;
  --tblr-btn-color-darker: 29, 96, 176;
  --tblr-btn-color-text: #f4f6fa; }

.btn-secondary,
.btn-outline-secondary,
.btn-ghost-secondary {
  --tblr-btn-color: 101, 109, 119;
  --tblr-btn-color-darker: 91, 98, 107;
  --tblr-btn-color-text: #f4f6fa; }

.btn-success,
.btn-outline-success,
.btn-ghost-success {
  --tblr-btn-color: 47, 179, 68;
  --tblr-btn-color-darker: 42, 161, 61;
  --tblr-btn-color-text: #f4f6fa; }

.btn-info,
.btn-outline-info,
.btn-ghost-info {
  --tblr-btn-color: 66, 153, 225;
  --tblr-btn-color-darker: 59, 138, 203;
  --tblr-btn-color-text: #f4f6fa; }

.btn-warning,
.btn-outline-warning,
.btn-ghost-warning {
  --tblr-btn-color: 247, 103, 7;
  --tblr-btn-color-darker: 222, 93, 6;
  --tblr-btn-color-text: #f4f6fa; }

.btn-danger,
.btn-outline-danger,
.btn-ghost-danger {
  --tblr-btn-color: 214, 57, 57;
  --tblr-btn-color-darker: 193, 51, 51;
  --tblr-btn-color-text: #f4f6fa; }

.btn-light,
.btn-outline-light,
.btn-ghost-light {
  --tblr-btn-color: 244, 246, 250;
  --tblr-btn-color-darker: 220, 221, 225;
  --tblr-btn-color-text: #232e3c; }

.btn-dark,
.btn-outline-dark,
.btn-ghost-dark {
  --tblr-btn-color: 35, 46, 60;
  --tblr-btn-color-darker: 32, 41, 54;
  --tblr-btn-color-text: #f4f6fa; }

.btn-blue,
.btn-outline-blue,
.btn-ghost-blue {
  --tblr-btn-color: 32, 107, 196;
  --tblr-btn-color-darker: 29, 96, 176;
  --tblr-btn-color-text: #f4f6fa; }

.btn-azure,
.btn-outline-azure,
.btn-ghost-azure {
  --tblr-btn-color: 66, 153, 225;
  --tblr-btn-color-darker: 59, 138, 203;
  --tblr-btn-color-text: #f4f6fa; }

.btn-indigo,
.btn-outline-indigo,
.btn-ghost-indigo {
  --tblr-btn-color: 66, 99, 235;
  --tblr-btn-color-darker: 59, 89, 212;
  --tblr-btn-color-text: #f4f6fa; }

.btn-purple,
.btn-outline-purple,
.btn-ghost-purple {
  --tblr-btn-color: 174, 62, 201;
  --tblr-btn-color-darker: 157, 56, 181;
  --tblr-btn-color-text: #f4f6fa; }

.btn-pink,
.btn-outline-pink,
.btn-ghost-pink {
  --tblr-btn-color: 214, 51, 108;
  --tblr-btn-color-darker: 193, 46, 97;
  --tblr-btn-color-text: #f4f6fa; }

.btn-red,
.btn-outline-red,
.btn-ghost-red {
  --tblr-btn-color: 214, 57, 57;
  --tblr-btn-color-darker: 193, 51, 51;
  --tblr-btn-color-text: #f4f6fa; }

.btn-orange,
.btn-outline-orange,
.btn-ghost-orange {
  --tblr-btn-color: 247, 103, 7;
  --tblr-btn-color-darker: 222, 93, 6;
  --tblr-btn-color-text: #f4f6fa; }

.btn-yellow,
.btn-outline-yellow,
.btn-ghost-yellow {
  --tblr-btn-color: 245, 159, 0;
  --tblr-btn-color-darker: 221, 143, 0;
  --tblr-btn-color-text: #f4f6fa; }

.btn-lime,
.btn-outline-lime,
.btn-ghost-lime {
  --tblr-btn-color: 116, 184, 22;
  --tblr-btn-color-darker: 104, 166, 20;
  --tblr-btn-color-text: #f4f6fa; }

.btn-green,
.btn-outline-green,
.btn-ghost-green {
  --tblr-btn-color: 47, 179, 68;
  --tblr-btn-color-darker: 42, 161, 61;
  --tblr-btn-color-text: #f4f6fa; }

.btn-teal,
.btn-outline-teal,
.btn-ghost-teal {
  --tblr-btn-color: 12, 166, 120;
  --tblr-btn-color-darker: 11, 149, 108;
  --tblr-btn-color-text: #f4f6fa; }

.btn-cyan,
.btn-outline-cyan,
.btn-ghost-cyan {
  --tblr-btn-color: 23, 162, 184;
  --tblr-btn-color-darker: 21, 146, 166;
  --tblr-btn-color-text: #f4f6fa; }

.btn-facebook,
.btn-outline-facebook,
.btn-ghost-facebook {
  --tblr-btn-color: 59, 89, 152;
  --tblr-btn-color-darker: 53, 80, 137;
  --tblr-btn-color-text: #f4f6fa; }

.btn-twitter,
.btn-outline-twitter,
.btn-ghost-twitter {
  --tblr-btn-color: 29, 161, 242;
  --tblr-btn-color-darker: 26, 145, 218;
  --tblr-btn-color-text: #f4f6fa; }

.btn-google,
.btn-outline-google,
.btn-ghost-google {
  --tblr-btn-color: 220, 78, 65;
  --tblr-btn-color-darker: 198, 70, 59;
  --tblr-btn-color-text: #f4f6fa; }

.btn-youtube,
.btn-outline-youtube,
.btn-ghost-youtube {
  --tblr-btn-color: 255, 0, 0;
  --tblr-btn-color-darker: 230, 0, 0;
  --tblr-btn-color-text: #f4f6fa; }

.btn-vimeo,
.btn-outline-vimeo,
.btn-ghost-vimeo {
  --tblr-btn-color: 26, 183, 234;
  --tblr-btn-color-darker: 23, 165, 211;
  --tblr-btn-color-text: #f4f6fa; }

.btn-dribbble,
.btn-outline-dribbble,
.btn-ghost-dribbble {
  --tblr-btn-color: 234, 76, 137;
  --tblr-btn-color-darker: 211, 68, 123;
  --tblr-btn-color-text: #f4f6fa; }

.btn-github,
.btn-outline-github,
.btn-ghost-github {
  --tblr-btn-color: 24, 23, 23;
  --tblr-btn-color-darker: 22, 21, 21;
  --tblr-btn-color-text: #f4f6fa; }

.btn-instagram,
.btn-outline-instagram,
.btn-ghost-instagram {
  --tblr-btn-color: 228, 64, 95;
  --tblr-btn-color-darker: 205, 58, 86;
  --tblr-btn-color-text: #f4f6fa; }

.btn-pinterest,
.btn-outline-pinterest,
.btn-ghost-pinterest {
  --tblr-btn-color: 189, 8, 28;
  --tblr-btn-color-darker: 170, 7, 25;
  --tblr-btn-color-text: #f4f6fa; }

.btn-vk,
.btn-outline-vk,
.btn-ghost-vk {
  --tblr-btn-color: 99, 131, 168;
  --tblr-btn-color-darker: 89, 118, 151;
  --tblr-btn-color-text: #f4f6fa; }

.btn-rss,
.btn-outline-rss,
.btn-ghost-rss {
  --tblr-btn-color: 255, 165, 0;
  --tblr-btn-color-darker: 230, 149, 0;
  --tblr-btn-color-text: #f4f6fa; }

.btn-flickr,
.btn-outline-flickr,
.btn-ghost-flickr {
  --tblr-btn-color: 0, 99, 220;
  --tblr-btn-color-darker: 0, 89, 198;
  --tblr-btn-color-text: #f4f6fa; }

.btn-bitbucket,
.btn-outline-bitbucket,
.btn-ghost-bitbucket {
  --tblr-btn-color: 0, 82, 204;
  --tblr-btn-color-darker: 0, 74, 184;
  --tblr-btn-color-text: #f4f6fa; }

.btn-tabler,
.btn-outline-tabler,
.btn-ghost-tabler {
  --tblr-btn-color: 32, 107, 196;
  --tblr-btn-color-darker: 29, 96, 176;
  --tblr-btn-color-text: #f4f6fa; }

.calendar {
  display: block;
  font-size: 0.765625rem;
  border: 1px solid #e6e8e9;
  border-radius: 3px; }

.calendar-nav {
  display: flex;
  align-items: center; }

.calendar-title {
  flex: 1;
  text-align: center; }

.calendar-body,
.calendar-header {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  padding: .5rem 0; }

.calendar-header {
  color: #656d77; }

.calendar-date {
  flex: 0 0 14.2857143%;
  max-width: 14.2857143%;
  padding: .2rem;
  text-align: center;
  border: 0; }
  .calendar-date.prev-month, .calendar-date.next-month {
    opacity: .25; }
  .calendar-date .date-item {
    position: relative;
    display: inline-block;
    width: 1.4rem;
    height: 1.4rem;
    line-height: 1.4rem;
    color: #66758c;
    text-align: center;
    text-decoration: none;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    background: 0 0;
    border: 1px solid transparent;
    border-radius: 50%;
    outline: 0;
    transition: background .3s, border .3s, box-shadow .32s, color .3s; }
    .calendar-date .date-item:hover {
      color: #206bc4;
      text-decoration: none;
      background: #fefeff;
      border-color: #e6e8e9; }
  .calendar-date .date-today {
    color: #206bc4;
    border-color: #e6e8e9; }

.calendar-range {
  position: relative; }
  .calendar-range:before {
    position: absolute;
    top: 50%;
    right: 0;
    left: 0;
    height: 1.4rem;
    content: "";
    background: rgba(32, 107, 196, 0.1);
    transform: translateY(-50%); }
  .calendar-range.range-start .date-item, .calendar-range.range-end .date-item {
    color: #ffffff;
    background: #206bc4;
    border-color: #206bc4; }
  .calendar-range.range-start:before {
    left: 50%; }
  .calendar-range.range-end:before {
    right: 50%; }

.border-0 .card, .border-0 .nav-link {
  border: 0 !important; }

.border-0 .card-stacked::after {
  border: 1px solid rgba(101, 109, 119, 0.07) !important; }

.card {
  box-shadow: rgba(35, 46, 60, 0.04) 0 2px 4px 0;
  border: 1px solid rgba(101, 109, 119, 0.16); }
  @media print {
    .card {
      border: none;
      box-shadow: none; } }
  a.card {
    color: inherit;
    transition: .3s box-shadow; }
    a.card:hover {
      text-decoration: none;
      box-shadow: rgba(35, 46, 60, 0.16) 0 2px 16px 0; }

.card-img,
.card-img-left {
  border-top-left-radius: 2px;
  border-bottom-left-radius: 2px; }

.card-img,
.card-img-right {
  border-top-right-radius: 2px;
  border-bottom-right-radius: 2px; }

.card-inactive {
  pointer-events: none;
  box-shadow: none; }
  .card-inactive .card-body {
    opacity: .64; }

.card-active {
  position: relative;
  background-color: rgba(32, 107, 196, 0.03);
  z-index: 1; }
  .card-active:before {
    position: absolute;
    top: -1px;
    right: -1px;
    bottom: -1px;
    left: -1px;
    content: "";
    border: 1px solid #206bc4;
    border-radius: inherit; }

.card-link {
  color: inherit; }
  .card-link:hover {
    color: inherit;
    text-decoration: none;
    box-shadow: 0 1px 6px 0 rgba(0, 0, 0, 0.08); }

.card-btn {
  padding: 1rem 1rem;
  text-align: center;
  background: rgba(32, 107, 196, 0.02);
  transition: .3s background; }
  .card-btn:hover {
    text-decoration: none;
    background: rgba(32, 107, 196, 0.06); }

.card-stacked {
  position: relative; }
  .card-stacked:after {
    position: absolute;
    top: -5px;
    right: 5px;
    left: 5px;
    height: 5px;
    content: "";
    background: #ffffff;
    border: 1px solid rgba(101, 109, 119, 0.16);
    border-radius: 3px 3px 0 0; }

.card-cover {
  position: relative;
  padding: 1rem 1rem;
  background: #666666 no-repeat center/cover; }
  .card-cover:before {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    content: "";
    background: rgba(35, 46, 60, 0.48); }
  .card-cover:first-child, .card-cover:first-child:before {
    border-radius: 3px 3px 0 0; }

.card-cover-blurred:before {
  -webkit-backdrop-filter: blur(2px);
          backdrop-filter: blur(2px); }

.card-actions {
  margin-left: auto;
  font-size: 0.75rem; }
  .card-actions a {
    text-decoration: none; }

.card-header {
  color: inherit;
  display: flex;
  align-items: center;
  background: transparent; }

.card-header-tabs {
  flex: 1;
  margin: -1rem -1rem; }

.card-header-pills {
  flex: 1; }

.card-footer {
  margin-top: auto; }

.card-progress {
  height: .25rem; }
  .card-progress:last-child {
    border-radius: 0 0 2px 2px; }
  .card-progress:first-child {
    border-radius: 2px 2px 0 0; }

.card-meta {
  color: #656d77; }

.card-title {
  display: block;
  margin: 0 0 1rem;
  font-size: 1rem;
  font-weight: 500;
  line-height: 1.5rem; }
  a.card-title:hover {
    color: inherit; }
  .card-header .card-title {
    margin: .125rem 0; }

.card-subtitle {
  margin-top: -1rem;
  margin-bottom: 1rem;
  font-size: 85.7142857%;
  color: #656d77; }

.card-body > :last-child {
  margin-bottom: 0; }

.card-sm > .card-body {
  padding: .75rem; }

@media (min-width: 768px) {
  .card-md > .card-body {
    padding: 2rem; } }

@media (min-width: 768px) {
  .card-lg > .card-body {
    padding: 2rem; } }

@media (min-width: 992px) {
  .card-lg > .card-body {
    padding: 4rem; } }

@media print {
  .card-body {
    padding: 0; } }

.card-body + .card-body {
  border-top: 1px solid #e6e8e9; }

.card-body-scrollable {
  overflow: auto; }

/**
Card optinos
 */
.card-options {
  top: 1.5rem;
  right: .75rem;
  display: flex;
  margin-left: auto; }

.card-options-link {
  display: inline-block;
  min-width: 1rem;
  margin-left: .25rem;
  color: #656d77; }

.card-dropdown {
  line-height: 1;
  color: #656d77; }
  .card-dropdown .icon {
    width: 1.5rem;
    height: 1.5rem;
    font-size: 1.5rem;
    stroke-width: 1; }

/**
Card status
 */
.card-status-top {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  height: 2px;
  border-radius: 3px 3px 0 0; }

.card-status-start {
  position: absolute;
  right: auto;
  bottom: 0;
  width: 2px;
  height: 100%;
  border-radius: 3px 0 0 3px; }

.card-status-bottom {
  position: absolute;
  top: initial;
  bottom: 0;
  width: 100%;
  height: 2px;
  border-radius: 0 0 3px 3px; }

/**
Card table
 */
.card-table {
  margin-bottom: 0 !important; }
  .card-table tr td:first-child,
  .card-table tr th:first-child {
    padding-left: 1rem; }
  .card-table tr td:last-child,
  .card-table tr th:last-child {
    padding-right: 1rem; }
  .card-table thead tr:first-child td,
  .card-table thead tr:first-child th {
    border-top: 0; }
  .card-table tbody tr:last-child td,
  .card-table tbody tr:last-child th {
    border-bottom: 0; }
  .card-body + .card-table {
    border-top: 1px solid #e6e8e9; }

/*
Card code
 */
.card-code {
  padding: 0; }
  .card-code .highlight {
    margin: 0;
    border: 0; }
  .card-code pre {
    margin: 0 !important;
    border: 0 !important; }

/*
Card chart
 */
.card-chart {
  position: relative;
  z-index: 1;
  height: 3.5rem; }

/**
Card avatar
 */
.card-avatar {
  box-shadow: 0 0 0 0.5rem #ffffff; }

/*
Card list group
 */
.card-body + .card-list-group {
  border-top: 1px solid #e6e8e9; }

.card-list-group .list-group-item {
  padding-right: 1rem;
  padding-left: 1rem;
  border-right: 0;
  border-left: 0;
  border-radius: 0; }
  .card-list-group .list-group-item:last-child {
    border-bottom: 0; }
  .card-list-group .list-group-item:first-child {
    border-top: 0; }

/**
Card tabs
 */
.card-tabs .nav-tabs {
  position: relative;
  z-index: 1000;
  border-bottom: 0; }
  .card-tabs .nav-tabs .nav-link {
    background: #f4f6fa;
    border: 1px solid rgba(101, 109, 119, 0.16);
    border-bottom: 0; }
    .card-tabs .nav-tabs .nav-link.active, .card-tabs .nav-tabs .nav-link:active, .card-tabs .nav-tabs .nav-link:hover {
      border-color: rgba(101, 109, 119, 0.16); }
    .card-tabs .nav-tabs .nav-link.active {
      background: #ffffff; }
  .card-tabs .nav-tabs .nav-item:not(:first-child) .nav-link {
    border-top-left-radius: 0; }
  .card-tabs .nav-tabs .nav-item:not(:last-child) .nav-link {
    border-top-right-radius: 0; }
  .card-tabs .nav-tabs .nav-item + .nav-item {
    margin-left: -1px; }

.card-tabs .nav-tabs-bottom {
  margin-bottom: 0; }
  .card-tabs .nav-tabs-bottom .nav-item {
    margin-top: -1px;
    margin-bottom: 0; }
    .card-tabs .nav-tabs-bottom .nav-item .nav-link {
      border-top-width: 0;
      border-bottom: 1px solid rgba(101, 109, 119, 0.16);
      border-top-left-radius: 0;
      border-top-right-radius: 0; }

.card-tabs .card {
  margin: 0;
  border-top-left-radius: 0; }

.btn-close {
  cursor: pointer; }
  .btn-close:focus {
    outline: none; }

</style>
