  <style>

/**
Form label
 */
.form-label {
  display: block; }
  .form-label.required:after {
    content: "*";
    margin-left: .25rem;
    color: #d63939; }

.form-label-description {
  float: right;
  font-weight: 400;
  color: #656d77; }

/**
Form hint
 */
.form-hint {
  display: block;
  font-size: 0.75rem;
  line-height: 1.3333333;
  color: #656d77; }
  .form-hint:last-child {
    margin-bottom: 0; }
  .form-hint + .form-control {
    margin-top: .25rem; }
  .form-label + .form-hint {
    margin-top: -.5rem; }
  .input-group + .form-hint,
  .form-control + .form-hint,
  .form-select + .form-hint {
    margin-top: .5rem; }

/**
Form control
 */
.form-control:-webkit-autofill {
  box-shadow: 0 0 0 1000px #ffffff inset; }

.form-control:disabled, .form-control.disabled {
  color: #656d77;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none; }

.form-control[size] {
  width: auto; }

.form-control[type="number"]::-webkit-inner-spin-button {
  opacity: 1;
  cursor: pointer;
  height: calc(calc(1.4285714em + 0.875rem + 2px) - 1px);
  margin: 0 -0.75rem 0 0; }

.form-control[type="number"]::-moz-inner-spin-button {
  opacity: 1;
  cursor: pointer;
  height: calc(calc(1.4285714em + 0.875rem + 2px) - 1px);
  margin: 0 -0.75rem 0 0; }

.form-control-light {
  background-color: #f4f6fa;
  border-color: transparent; }

.form-control-dark {
  background-color: rgba(0, 0, 0, 0.1);
  color: #ffffff;
  border-color: transparent; }
  .form-control-dark:focus {
    background-color: rgba(0, 0, 0, 0.1);
    box-shadow: none;
    border-color: rgba(255, 255, 255, 0.24); }
  .form-control-dark::-webkit-input-placeholder {
    color: rgba(255, 255, 255, 0.6); }
  .form-control-dark::-moz-placeholder {
    color: rgba(255, 255, 255, 0.6); }
  .form-control-dark:-ms-input-placeholder {
    color: rgba(255, 255, 255, 0.6); }
  .form-control-dark::-ms-input-placeholder {
    color: rgba(255, 255, 255, 0.6); }
  .form-control-dark::placeholder {
    color: rgba(255, 255, 255, 0.6); }

.form-control-rounded {
  border-radius: 10rem; }

.form-control-flush {
  padding: 0;
  background: none !important;
  border-color: transparent !important;
  resize: none;
  box-shadow: none !important;
  line-height: inherit; }

.form-footer {
  margin-top: 2rem; }

.form-fieldset {
  padding: 1rem;
  margin-bottom: 1rem;
  background: rgba(35, 46, 60, 0.024);
  border: 1px solid #e6e8e9;
  border-radius: 3px; }

/**
Form help
 */
.form-help {
  display: inline-flex;
  font-weight: 600;
  align-items: center;
  justify-content: center;
  width: 1.125rem;
  height: 1.125rem;
  font-size: .75rem;
  color: #656d77;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  background: rgba(135, 142, 151, 0.1);
  border-radius: 50%;
  transition: .3s background-color, .3s color; }
  .form-help:hover, .form-help[aria-describedby] {
    color: #ffffff;
    background: #206bc4; }

/**
Input group
 */
.input-group-link {
  font-size: 0.75rem; }

.input-group-flat:focus-within {
  box-shadow: 0 0 0 0.25rem rgba(32, 107, 196, 0.25);
  border-radius: 3px; }
  .input-group-flat:focus-within .form-control,
  .input-group-flat:focus-within .input-group-text {
    border-color: #90b5e2 !important; }

.input-group-flat .form-control:focus {
  border-color: rgba(101, 109, 119, 0.24);
  box-shadow: none; }

.input-group-flat .form-control:not(:last-child) {
  border-right: 0; }

.input-group-flat .form-control:not(:first-child) {
  border-left: 0; }

.input-group-flat .input-group-text {
  background: transparent;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out; }
  .input-group-flat .input-group-text:first-child {
    padding-right: 0; }
  .input-group-flat .input-group-text:last-child {
    padding-left: 0; }

/**
Upload files
 */
.form-file-button {
  margin-left: 0;
  border-left: 0; }

/**
Icon input
 */
.input-icon {
  position: relative; }
  .input-icon .form-control:not(:last-child) {
    padding-right: 2.5rem; }
  .input-icon .form-control:not(:first-child) {
    padding-left: 2.5rem; }

.input-icon-addon {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 2.5rem;
  color: #656d77;
  pointer-events: none;
  font-size: 1.2em; }
  .input-icon-addon:last-child {
    right: 0;
    left: auto; }

/*
Color Input
 */
.form-colorinput {
  position: relative;
  display: inline-block;
  margin: 0;
  line-height: 1;
  cursor: pointer; }

.form-colorinput-input {
  position: absolute;
  z-index: -1;
  opacity: 0; }

.form-colorinput-color {
  display: block;
  width: 1.5rem;
  height: 1.5rem;
  color: #ffffff;
  border: 1px solid rgba(101, 109, 119, 0.16);
  border-radius: 3px;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05); }
  .form-colorinput-color:before {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    content: "";
    background: no-repeat center center/1rem;
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' width='16' height='16'%3e%3cpath fill='none' stroke='%23ffffff' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M4 8.5l2.5 2.5l5.5 -5.5'/%3e%3c/svg%3e");
    opacity: 0;
    transition: .3s opacity; }
    .form-colorinput-input:checked ~ .form-colorinput-color:before {
      opacity: 1; }
  .form-colorinput-input:focus ~ .form-colorinput-color {
    border-color: #206bc4;
    box-shadow: 0 0 0 0.25rem rgba(32, 107, 196, 0.25); }
  .form-colorinput-light .form-colorinput-color:before {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' width='16' height='16'%3e%3cpath fill='none' stroke='%23232e3c' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M4 8.5l2.5 2.5l5.5 -5.5'/%3e%3c/svg%3e"); }

/**
Image check
 */
.form-imagecheck {
  position: relative;
  margin: 0;
  cursor: pointer; }

.form-imagecheck-input {
  position: absolute;
  z-index: -1;
  opacity: 0; }

.form-imagecheck-figure {
  position: relative;
  display: block;
  margin: 0;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  border: 1px solid #e6e8e9;
  border-radius: 3px; }
  .form-imagecheck-input:focus ~ .form-imagecheck-figure {
    border-color: #206bc4;
    box-shadow: 0 0 0 0.25rem rgba(32, 107, 196, 0.25); }
  .form-imagecheck-input:checked ~ .form-imagecheck-figure {
    border-color: #e6e8e9; }
  .form-imagecheck-figure:before {
    position: absolute;
    top: .25rem;
    left: .25rem;
    z-index: 1;
    display: block;
    width: 1rem;
    height: 1rem;
    color: #ffffff;
    pointer-events: none;
    content: "";
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
    background: #ffffff;
    border: 1px solid #e6e8e9;
    border-radius: 3px;
    transition: .3s opacity; }
    .form-imagecheck-input:checked ~ .form-imagecheck-figure:before {
      background-color: #206bc4;
      background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' width='16' height='16'%3e%3cpath fill='none' stroke='%23ffffff' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M4 8.5l2.5 2.5l5.5 -5.5'/%3e%3c/svg%3e");
      background-repeat: repeat;
      background-position: center;
      background-size: 1rem;
      border-color: rgba(101, 109, 119, 0.24); }

.form-imagecheck-image {
  max-width: 100%;
  display: block;
  opacity: .64;
  transition: .3s opacity; }
  .form-imagecheck-image:first-child {
    border-top-left-radius: 2px;
    border-top-right-radius: 2px; }
  .form-imagecheck-image:last-child {
    border-bottom-right-radius: 2px;
    border-bottom-left-radius: 2px; }
  .form-imagecheck:hover .form-imagecheck-image,
  .form-imagecheck-input:focus ~ .form-imagecheck-figure .form-imagecheck-image,
  .form-imagecheck-input:checked ~ .form-imagecheck-figure .form-imagecheck-image {
    opacity: 1; }

.form-imagecheck-caption {
  padding: .25rem;
  font-size: 0.765625rem;
  color: #656d77;
  text-align: center;
  transition: .3s color; }
  .form-imagecheck:hover .form-imagecheck-caption,
  .form-imagecheck-input:focus ~ .form-imagecheck-figure .form-imagecheck-caption,
  .form-imagecheck-input:checked ~ .form-imagecheck-figure .form-imagecheck-caption {
    color: #232e3c; }

/*
Select group
 */
.form-selectgroup {
  display: inline-flex;
  margin: 0 -.5rem -.5rem 0;
  flex-wrap: wrap; }
  .form-selectgroup .form-selectgroup-item {
    margin: 0 .5rem .5rem 0; }

.form-selectgroup-vertical {
  flex-direction: column; }

.form-selectgroup-item {
  display: block;
  position: relative; }

.form-selectgroup-input {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  opacity: 0; }

.form-selectgroup-label {
  position: relative;
  display: block;
  min-width: calc(1.4285714em + 0.875rem + 2px);
  margin: 0;
  padding: 0.4375rem 0.75rem;
  font-size: 0.875rem;
  line-height: 1.4285714;
  color: #656d77;
  background: #ffffff;
  text-align: center;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  border: 1px solid rgba(101, 109, 119, 0.24);
  border-radius: 3px;
  transition: border-color .3s, background .3s, color .3s; }
  .form-selectgroup-label .icon:only-child {
    margin: 0 -.25rem; }
  .form-selectgroup-label:hover {
    color: #232e3c; }

.form-selectgroup-check {
  display: inline-block;
  width: 1rem;
  height: 1rem;
  border: 1px solid rgba(101, 109, 119, 0.24);
  vertical-align: middle; }
  .form-selectgroup-input[type="checkbox"] + .form-selectgroup-label .form-selectgroup-check {
    border-radius: 3px; }
  .form-selectgroup-input[type="radio"] + .form-selectgroup-label .form-selectgroup-check {
    border-radius: 50%; }
  .form-selectgroup-input:checked + .form-selectgroup-label .form-selectgroup-check {
    background-color: #206bc4;
    background-repeat: repeat;
    background-position: center;
    background-size: 1rem;
    border-color: rgba(101, 109, 119, 0.24); }
  .form-selectgroup-input[type="checkbox"]:checked + .form-selectgroup-label .form-selectgroup-check {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' width='16' height='16'%3e%3cpath fill='none' stroke='%23ffffff' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M4 8.5l2.5 2.5l5.5 -5.5'/%3e%3c/svg%3e"); }
  .form-selectgroup-input[type="radio"]:checked + .form-selectgroup-label .form-selectgroup-check {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3e%3ccircle r='3' fill='%23ffffff' cx='8' cy='8' /%3e%3c/svg%3e"); }

.form-selectgroup-input:checked + .form-selectgroup-label {
  z-index: 1;
  color: #206bc4;
  background: rgba(32, 107, 196, 0.04);
  border-color: #90b5e2; }

.form-selectgroup-input:focus + .form-selectgroup-label {
  z-index: 2;
  color: #206bc4;
  border-color: #90b5e2;
  box-shadow: 0 0 0 0.25rem rgba(32, 107, 196, 0.25); }

/**
Alternate version of form select group
 */
.form-selectgroup-boxes .form-selectgroup-label {
  text-align: left;
  padding: 1rem 1rem;
  color: inherit; }

.form-selectgroup-boxes .form-selectgroup-input:checked + .form-selectgroup-label {
  color: inherit; }
  .form-selectgroup-boxes .form-selectgroup-input:checked + .form-selectgroup-label .form-selectgroup-title {
    color: #206bc4; }
  .form-selectgroup-boxes .form-selectgroup-input:checked + .form-selectgroup-label .form-selectgroup-label-content {
    opacity: 1; }

/**
Select group
 */
.form-selectgroup-pills {
  flex-wrap: wrap;
  align-items: flex-start; }
  .form-selectgroup-pills .form-selectgroup-item {
    flex-grow: 0; }
  .form-selectgroup-pills .form-selectgroup-label {
    border-radius: 50px; }

/**
Bootstrap color input
 */
.form-control-color::-webkit-color-swatch {
  border: none; }

/**
Remove the cancel buttons in Chrome and Safari on macOS.
 */
[type="search"]::-webkit-search-cancel-button {
  -webkit-appearance: none; }

/*
Form check
 */
.form-check {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none; }
  .form-check.form-check-highlight .form-check-input:not(:checked) ~ .form-check-label {
    opacity: 0.7; }

.form-check-input {
  background-size: 1rem;
  margin-top: 0.125rem; }
  .form-switch .form-check-input {
    transition: .3s background-color, .3s background-position; }

.form-check-label {
  display: block; }

.form-check-description {
  display: block;
  color: #656d77;
  font-size: 0.75rem;
  margin-top: .25rem; }

.form-check-single {
  margin: 0; }
  .form-check-single .form-check-input {
    margin: 0; }

/*
Form switch
 */
.form-switch .form-check-input {
  height: 1.125rem;
  margin-top: 0.0625rem; }

.form-control.is-valid-lite, .form-control.is-invalid-lite {
  border-color: #e6e8e9; }

.legend {
  display: inline-block;
  background: #e6e8e9;
  width: .75em;
  height: .75em;
  border-radius: 3px; }

.list-group {
  margin-left: 0;
  margin-right: 0; }

.list-group-header {
  background: #f4f6fa;
  padding: 0.5rem 1rem;
  font-size: 0.75rem;
  font-weight: 500;
  line-height: 1;
  text-transform: uppercase;
  color: #656d77;
  border-bottom: 1px solid #e6e8e9; }
  .list-group-flush > .list-group-header:last-child {
    border-bottom-width: 0; }

.list-bordered .list-item {
  border-top: 1px solid #e6e8e9;
  margin-top: -1px; }
  .list-bordered .list-item:first-child {
    border-top: none; }

.list-group-hoverable .list-group-item-actions {
  opacity: 0;
  transition: .3s opacity; }

.list-group-hoverable .list-group-item:hover .list-group-item-actions,
.list-group-hoverable .list-group-item-actions.show {
  opacity: 1; }

.list-timeline {
  position: relative;
  padding: 0;
  margin: 0;
  list-style: none; }
  .list-timeline > li {
    position: relative;
    margin-bottom: 1.5rem; }
    .list-timeline > li:last-child {
      margin-bottom: 0; }

.list-timeline-time {
  float: right;
  margin-left: 1rem;
  color: #656d77; }

.list-timeline-icon {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 2.5rem;
  height: 2.5rem;
  color: #ffffff;
  text-align: center;
  background: #656d77;
  border-radius: 50%; }
  .list-timeline-icon .icon {
    width: 1rem;
    height: 1rem;
    font-size: 1rem; }

.list-timeline-title {
  margin: 0;
  font-weight: 600; }

.list-timeline-content {
  margin-left: 3.5rem; }

@media screen and (min-width: 768px) {
  .list-timeline:not(.list-timeline-simple):before {
    position: absolute;
    top: 0;
    bottom: 0;
    left: calc(7.5rem + 2px);
    z-index: 1;
    display: block;
    width: 4px;
    content: "";
    background-color: #f4f6fa; }
  .list-timeline:not(.list-timeline-simple) > li {
    z-index: 2;
    min-height: 40px; }
  .list-timeline:not(.list-timeline-simple) .list-timeline-time {
    position: absolute;
    top: .5rem;
    left: 0;
    width: 5.5rem;
    margin: 0;
    text-align: right; }
  .list-timeline:not(.list-timeline-simple) .list-timeline-icon {
    top: 0;
    left: 6.5rem; }
  .list-timeline:not(.list-timeline-simple) .list-timeline-content {
    padding: .625rem 0 0 10rem;
    margin: 0; } }

.list-group-transparent {
  margin: 0 -1rem; }
  .list-group-transparent .list-group-item {
    background: none;
    border: 0;
    border-radius: 3px; }
    .list-group-transparent .list-group-item .icon {
      color: #656d77; }
    .list-group-transparent .list-group-item.active {
      font-weight: 600;
      color: inherit;
      background: rgba(32, 107, 196, 0.06); }
      .list-group-transparent .list-group-item.active .icon {
        color: inherit; }

.list-separated-item {
  padding: 1rem 0; }
  .list-separated-item:first-child {
    padding-top: 0; }
  .list-separated-item:last-child {
    padding-bottom: 0; }
  .list-separated-item + .list-separated-item {
    border-top: 1px solid #e6e8e9; }

/**
Inline list
 */
.list-inline-item:not(:last-child) {
  margin-right: auto;
  -webkit-margin-end: 0.5rem;
          margin-inline-end: 0.5rem; }

.list-inline-dots .list-inline-item + .list-inline-item:before {
  content: ' · ';
  -webkit-margin-end: 0.5rem;
          margin-inline-end: 0.5rem; }

</style>
