<style>

@-webkit-keyframes loader {
  from {
    transform: rotate(0deg); }
  to {
    transform: rotate(360deg); } }

@keyframes loader {
  from {
    transform: rotate(0deg); }
  to {
    transform: rotate(360deg); } }

.loader {
  position: relative;
  display: block;
  width: 2.5rem;
  height: 2.5rem;
  color: #206bc4;
  vertical-align: middle; }
  .loader:after {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    content: "";
    border: 1px solid;
    border-color: transparent;
    border-top-color: currentColor;
    border-left-color: currentColor;
    border-radius: 50%;
    -webkit-animation: loader .6s linear;
            animation: loader .6s linear;
    -webkit-animation-iteration-count: infinite;
            animation-iteration-count: infinite; }

/**
Dimmer
*/
.dimmer {
  position: relative; }
  .dimmer .loader {
    position: absolute;
    top: 50%;
    right: 0;
    left: 0;
    display: none;
    margin: 0 auto;
    transform: translateY(-50%); }
  .dimmer.active .loader {
    display: block; }
  .dimmer.active .dimmer-content {
    pointer-events: none;
    opacity: .1; }

@-webkit-keyframes animated-dots {
  0% {
    transform: translateX(-100%); } }

@keyframes animated-dots {
  0% {
    transform: translateX(-100%); } }

.animated-dots {
  display: inline-block;
  overflow: hidden;
  vertical-align: bottom; }
  .animated-dots:after {
    display: inline-block;
    content: "...";
    -webkit-animation: animated-dots 1.2s steps(4, jump-none) infinite;
            animation: animated-dots 1.2s steps(4, jump-none) infinite; }

.modal-content .btn-close {
  position: absolute;
  top: 0;
  right: 0;
  width: 3.5rem;
  height: 3.5rem;
  margin: 0;
  padding: 0;
  z-index: 10; }

.modal-body::-webkit-scrollbar {
  width: 6px;
  height: 6px;
  -webkit-transition: .3s background;
  transition: .3s background; }

.modal-body::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background: #dbdee3; }

.modal-body::-webkit-scrollbar-corner {
  background: transparent; }

.modal-body:hover::-webkit-scrollbar-thumb {
  background: #c6cad0;
  background: #c6cad0; }

.modal-body .modal-title {
  margin-bottom: 1rem; }

.modal-body + .modal-body {
  border-top: 1px solid #e6e8e9; }

.modal-status {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 2px;
  background: #656d77;
  border-radius: 3px 3px 0 0; }

.modal-header {
  align-items: center;
  min-height: 3.5rem;
  background: #ffffff;
  padding: 0 3.5rem 0 1.5rem; }

.modal-title {
  font-size: 1rem;
  font-weight: 500;
  line-height: 1.3333333; }

.modal-footer {
  padding-top: 0;
  padding-bottom: .75rem; }

.modal-blur {
  -webkit-backdrop-filter: blur(4px);
          backdrop-filter: blur(4px); }

.modal-full-width {
  max-width: none;
  margin: 0 0.5rem; }

.nav {
  margin: 0; }

.nav-vertical,
.nav-vertical .nav {
  flex-direction: column;
  flex-wrap: nowrap; }

.nav-vertical .nav {
  -webkit-margin-start: 1.25rem;
          margin-inline-start: 1.25rem;
  border-left: 1px solid #e6e8e9;
  -webkit-padding-start: .5rem;
          padding-inline-start: .5rem; }

.nav-vertical .nav-link.active,
.nav-vertical .nav-item.show .nav-link {
  font-weight: 600; }

.nav-vertical.nav-pills {
  margin: 0 -0.75rem; }

.nav-tabs {
  margin: 0; }
  .nav-tabs .icon {
    color: #656d77; }
  .nav-tabs .nav-link {
    padding: 0.5rem 1rem;
    line-height: 20px;
    color: #656d77;
    cursor: pointer;
    background: transparent;
    border: none;
    border-bottom: 1px solid transparent;
    transition: .3s color, .3s border-color; }
    .nav-tabs .nav-link:hover {
      color: #232e3c;
      border-color: transparent; }
    .nav-tabs .nav-link.disabled {
      color: rgba(101, 109, 119, 0.2); }
    .nav-tabs .nav-link.active {
      color: #232e3c;
      background: inherit;
      border-color: transparent;
      border-bottom-color: #206bc4; }

.nav-tabs-alt .nav-link {
  font-size: 13px;
  font-weight: 600;
  text-transform: uppercase; }

.nav-link {
  display: flex;
  transition: .3s color;
  align-items: center; }

.nav-link-toggle {
  margin-left: auto;
  padding: 0 .25rem;
  transition: .3s transform; }
  .nav-link-toggle:after {
    content: "";
    display: inline-block;
    vertical-align: 0.306em;
    width: 0.36em;
    height: 0.36em;
    border-bottom: 1px solid;
    border-left: 1px solid;
    -webkit-margin-end: .1em;
            margin-inline-end: .1em;
    -webkit-margin-start: 0.4em;
            margin-inline-start: 0.4em;
    transform: rotate(-45deg); }
  .nav-link-toggle:after {
    margin: 0; }
  .nav-link[aria-expanded="true"] .nav-link-toggle {
    transform: rotate(180deg); }

.nav-link-icon {
  width: 1.5rem;
  height: 1.25rem;
  -webkit-margin-end: .25rem;
          margin-inline-end: .25rem;
  opacity: 0.7; }
  .nav-link-icon svg {
    display: block;
    height: 100%; }

.stars {
  display: inline-flex;
  color: #dbdee3;
  font-size: 0.75rem; }
  .stars .star:not(:first-child) {
    margin-left: .25rem; }

.pagination {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none; }

.page-link {
  min-width: 1.75rem;
  border-radius: 3px; }
  .page-link:hover {
    background: transparent; }

.page-item {
  text-align: center; }
  .page-item.page-prev, .page-item.page-next {
    flex: 0 0 50%;
    text-align: left; }
  .page-item.page-next {
    margin-left: auto;
    text-align: right; }

.page-item-subtitle {
  margin-bottom: 2px;
  font-size: 12px;
  color: #656d77;
  text-transform: uppercase; }
  .page-item.disabled .page-item-subtitle {
    color: rgba(101, 109, 119, 0.5); }

.page-item-title {
  font-size: 1rem;
  font-weight: 400;
  color: #232e3c; }
  .page-link:hover .page-item-title {
    color: #206bc4; }
  .page-item.disabled .page-item-title {
    color: rgba(101, 109, 119, 0.5); }

@-webkit-keyframes progress-indeterminate {
  0% {
    right: 100%;
    left: -35%; }
  100%,
  60% {
    right: -90%;
    left: 100%; } }

@keyframes progress-indeterminate {
  0% {
    right: 100%;
    left: -35%; }
  100%,
  60% {
    right: -90%;
    left: 100%; } }

.progress {
  position: relative;
  width: 100%;
  line-height: 0.5rem;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none; }
  .progress::-webkit-progress-bar {
    background: #f4f6fa; }
  .progress::-webkit-progress-value {
    background-color: #206bc4; }
  .progress::-moz-progress-bar {
    background-color: #206bc4; }
  .progress::-ms-fill {
    background-color: #206bc4;
    border: none; }

.progress-sm {
  height: .25rem; }

.progress-bar {
  height: 100%; }

.progress-bar-indeterminate:after, .progress-bar-indeterminate:before {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  content: "";
  background-color: inherit;
  will-change: left, right; }

.progress-bar-indeterminate:before {
  -webkit-animation: progress-indeterminate 2.1s cubic-bezier(0.65, 0.815, 0.735, 0.395) infinite;
          animation: progress-indeterminate 2.1s cubic-bezier(0.65, 0.815, 0.735, 0.395) infinite; }

.progress-separated .progress-bar {
  border-right: 2px solid #ffffff; }

.ribbon {
  position: absolute;
  top: .75rem;
  right: -0.25rem;
  z-index: 1;
  padding: .25rem .75rem;
  font-size: 0.625rem;
  font-weight: 600;
  line-height: 1.5rem;
  color: #ffffff;
  text-align: center;
  text-transform: uppercase;
  background: #206bc4;
  border-color: #206bc4; }
  .ribbon:before {
    position: absolute;
    right: 0;
    bottom: 100%;
    width: 0;
    height: 0;
    content: "";
    filter: brightness(70%);
    border: 0.125rem solid;
    border-color: inherit;
    border-top-color: transparent;
    border-right-color: transparent; }
  .ribbon.bg-blue {
    border-color: #206bc4; }
  .ribbon.bg-blue-lt {
    border-color: #edf3fa !important; }
  .ribbon.bg-azure {
    border-color: #4299e1; }
  .ribbon.bg-azure-lt {
    border-color: #f0f7fd !important; }
  .ribbon.bg-indigo {
    border-color: #4263eb; }
  .ribbon.bg-indigo-lt {
    border-color: #f0f3fd !important; }
  .ribbon.bg-purple {
    border-color: #ae3ec9; }
  .ribbon.bg-purple-lt {
    border-color: #f9f0fb !important; }
  .ribbon.bg-pink {
    border-color: #d6336c; }
  .ribbon.bg-pink-lt {
    border-color: #fceff3 !important; }
  .ribbon.bg-red {
    border-color: #d63939; }
  .ribbon.bg-red-lt {
    border-color: #fcefef !important; }
  .ribbon.bg-orange {
    border-color: #f76707; }
  .ribbon.bg-orange-lt {
    border-color: #fef3eb !important; }
  .ribbon.bg-yellow {
    border-color: #f59f00; }
  .ribbon.bg-yellow-lt {
    border-color: #fef7eb !important; }
  .ribbon.bg-lime {
    border-color: #74b816; }
  .ribbon.bg-lime-lt {
    border-color: #f4f9ec !important; }
  .ribbon.bg-green {
    border-color: #2fb344; }
  .ribbon.bg-green-lt {
    border-color: #eef9f0 !important; }
  .ribbon.bg-teal {
    border-color: #0ca678; }
  .ribbon.bg-teal-lt {
    border-color: #ecf8f4 !important; }
  .ribbon.bg-cyan {
    border-color: #17a2b8; }
  .ribbon.bg-cyan-lt {
    border-color: #ecf8f9 !important; }
  .ribbon .icon {
    width: 1.25rem;
    height: 1.25rem;
    font-size: 1.25rem; }

.ribbon-top {
  top: -0.25rem;
  right: .75rem;
  width: 2rem;
  padding: .5rem 0; }
  .ribbon-top:before {
    top: 0;
    right: 100%;
    bottom: auto;
    border-color: inherit;
    border-top-color: transparent;
    border-left-color: transparent; }
  .ribbon-top.ribbon-start {
    right: auto;
    left: .75rem; }
    .ribbon-top.ribbon-start:before {
      top: 0;
      right: 100%;
      left: auto; }

.ribbon-start {
  right: auto;
  left: -0.25rem; }
  .ribbon-start:before {
    top: auto;
    bottom: 100%;
    left: 0;
    border-color: inherit;
    border-top-color: transparent;
    border-left-color: transparent; }

.ribbon-bottom {
  top: auto;
  bottom: .75rem; }

.ribbon-bookmark {
  padding-left: .25rem; }
  .ribbon-bookmark:after {
    position: absolute;
    top: 0;
    right: 100%;
    display: block;
    width: 0;
    height: 0;
    content: "";
    border: 1rem solid;
    border-color: inherit;
    border-right-width: 0;
    border-left-color: transparent;
    border-left-width: .5rem; }
  .ribbon-bookmark.ribbon-left {
    padding-right: .5rem;
    padding-left: .5rem; }
    .ribbon-bookmark.ribbon-left:after {
      right: auto;
      left: 100%;
      border-right-color: transparent;
      border-right-width: .5rem;
      border-left-width: 0; }
  .ribbon-bookmark.ribbon-top {
    padding-right: 0;
    padding-bottom: .25rem;
    padding-left: 0; }
    .ribbon-bookmark.ribbon-top:after {
      top: 100%;
      right: 0;
      left: 0;
      border-color: inherit;
      border-width: 1rem;
      border-top-width: 0;
      border-bottom-color: transparent;
      border-bottom-width: .5rem; }

</style>
