.table, .markdown > table {
  --tblr-table-bg: transparent;
  --tblr-table-accent-bg: transparent;
  --tblr-table-striped-color: inherit;
  --tblr-table-striped-bg: rgba(35, 46, 60, 0.024);
  --tblr-table-active-color: inherit;
  --tblr-table-active-bg: rgba(0, 0, 0, 0.1);
  --tblr-table-hover-color: inherit;
  --tblr-table-hover-bg: rgba(0, 0, 0, 0.075);
  width: 100%;
  margin-bottom: 1rem;
  color: inherit;
  vertical-align: top;
  border-color: rgba(101, 109, 119, 0.16); }
  .table > :not(caption) > * > *, .markdown > table > :not(caption) > * > * {
    padding: 0.5rem 0.5rem;
    background-color: var(--tblr-table-bg);
    background-image: linear-gradient(var(--tblr-table-accent-bg), var(--tblr-table-accent-bg));
    border-bottom-width: 1px; }
  .table > tbody, .markdown > table > tbody {
    vertical-align: inherit; }
  .table > thead, .markdown > table > thead {
    vertical-align: bottom; }
  .table > :not(:last-child) > :last-child > *, .markdown > table > :not(:last-child) > :last-child > * {
    border-bottom-color: rgba(101, 109, 119, 0.16); }

.caption-top {
  caption-side: top; }

.table-sm > :not(caption) > * > * {
  padding: 0.25rem 0.25rem; }

.table-bordered > :not(caption) > *, .markdown > table > :not(caption) > * {
  border-width: 1px 0; }
  .table-bordered > :not(caption) > * > *, .markdown > table > :not(caption) > * > * {
    border-width: 0 1px; }

.table-borderless > :not(caption) > * > * {
  border-bottom-width: 0; }

.table-striped > tbody > tr:nth-of-type(even) {
  --tblr-table-accent-bg: var(--tblr-table-striped-bg);
  color: var(--tblr-table-striped-color); }

.table-active {
  --tblr-table-accent-bg: var(--tblr-table-active-bg);
  color: var(--tblr-table-active-color); }

.table-hover > tbody > tr:hover {
  --tblr-table-accent-bg: var(--tblr-table-hover-bg);
  color: var(--tblr-table-hover-color); }

.table-primary {
  --tblr-table-bg: #d2e1f3;
  --tblr-table-striped-bg: #c9d8ea;
  --tblr-table-striped-color: #232e3c;
  --tblr-table-active-bg: #c1cfe1;
  --tblr-table-active-color: #232e3c;
  --tblr-table-hover-bg: #c5d4e5;
  --tblr-table-hover-color: #232e3c;
  color: #232e3c;
  border-color: #c1cfe1; }

.table-secondary {
  --tblr-table-bg: #e0e2e4;
  --tblr-table-striped-bg: #d7d9dc;
  --tblr-table-striped-color: #232e3c;
  --tblr-table-active-bg: #cdd0d3;
  --tblr-table-active-color: #232e3c;
  --tblr-table-hover-bg: #d2d5d7;
  --tblr-table-hover-color: #232e3c;
  color: #232e3c;
  border-color: #cdd0d3; }

.table-success {
  --tblr-table-bg: #d5f0da;
  --tblr-table-striped-bg: #cce6d2;
  --tblr-table-striped-color: #232e3c;
  --tblr-table-active-bg: #c3ddca;
  --tblr-table-active-color: #232e3c;
  --tblr-table-hover-bg: #c8e1ce;
  --tblr-table-hover-color: #232e3c;
  color: #232e3c;
  border-color: #c3ddca; }

.table-info {
  --tblr-table-bg: #d9ebf9;
  --tblr-table-striped-bg: #d0e2f0;
  --tblr-table-striped-color: #232e3c;
  --tblr-table-active-bg: #c7d8e6;
  --tblr-table-active-color: #232e3c;
  --tblr-table-hover-bg: #cbddeb;
  --tblr-table-hover-color: #232e3c;
  color: #232e3c;
  border-color: #c7d8e6; }

.table-warning {
  --tblr-table-bg: #fde1cd;
  --tblr-table-striped-bg: #f2d8c6;
  --tblr-table-striped-color: #232e3c;
  --tblr-table-active-bg: #e7cfbf;
  --tblr-table-active-color: #232e3c;
  --tblr-table-hover-bg: #edd4c2;
  --tblr-table-hover-color: #232e3c;
  color: #232e3c;
  border-color: #e7cfbf; }

.table-danger {
  --tblr-table-bg: #f7d7d7;
  --tblr-table-striped-bg: #eccfcf;
  --tblr-table-striped-color: #232e3c;
  --tblr-table-active-bg: #e2c6c8;
  --tblr-table-active-color: #232e3c;
  --tblr-table-hover-bg: #e7cacb;
  --tblr-table-hover-color: #232e3c;
  color: #232e3c;
  border-color: #e2c6c8; }

.table-light {
  --tblr-table-bg: #f4f6fa;
  --tblr-table-striped-bg: #eaecf1;
  --tblr-table-striped-color: #232e3c;
  --tblr-table-active-bg: #dfe2e7;
  --tblr-table-active-color: #232e3c;
  --tblr-table-hover-bg: #e4e7ec;
  --tblr-table-hover-color: #232e3c;
  color: #232e3c;
  border-color: #dfe2e7; }

.table-dark {
  --tblr-table-bg: #232e3c;
  --tblr-table-striped-bg: #2d3846;
  --tblr-table-striped-color: #f4f6fa;
  --tblr-table-active-bg: #38424f;
  --tblr-table-active-color: #f4f6fa;
  --tblr-table-hover-bg: #333d4a;
  --tblr-table-hover-color: #f4f6fa;
  color: #f4f6fa;
  border-color: #38424f; }

.table-responsive {
  overflow-x: auto;
  -webkit-overflow-scrolling: touch; }

@media (max-width: 575.98px) {
  .table-responsive-sm {
    overflow-x: auto;
    -webkit-overflow-scrolling: touch; } }

@media (max-width: 767.98px) {
  .table-responsive-md {
    overflow-x: auto;
    -webkit-overflow-scrolling: touch; } }

@media (max-width: 991.98px) {
  .table-responsive-lg {
    overflow-x: auto;
    -webkit-overflow-scrolling: touch; } }

@media (max-width: 1199.98px) {
  .table-responsive-xl {
    overflow-x: auto;
    -webkit-overflow-scrolling: touch; } }

@media (max-width: 1399.98px) {
  .table-responsive-xxl {
    overflow-x: auto;
    -webkit-overflow-scrolling: touch; } }
